body{
  background-image: url('img/light-bg1.png');
  text-align: center;
}

h1{
  font-size:5em;
}

p{
  margin:2em;
  line height:1.4;
}

.start{
  display: block;
  background-color: maroon
  color: black;
  width: 5em;
  height:5em;
  margin-left: auto;
  margin-right: auto;
  border-radius:2.4em;
  line-height:5em;
  text-decoration:none;
  box-shadow: 2px 2px 5px black
  border: 0;
}

h1 {
  
}